body {
    font-family: 'Calibri';
    font-weight: 600;
    font-size: 1.5rem;
}

p {
    font-size: 1rem;
}

.generalInfo, .experience, .education {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.infoCont input {
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    margin-bottom: 4vh;
    text-align: center;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5vw;
    height: 10vh;
}

.rightHead {
    margin-right: 3vw;
    text-align: right;
}

.leftHead {
    margin-left: 3vw;
    text-align: left;
}

.cvBuilder {
    background-color:rgba(0, 0, 255, 0.341);
    width: 50vw;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
