body {
    font-family: 'Calibri';
    font-weight: 600;
    font-size: 1.5rem;
    background-color: rgb(43, 44, 47);
    color: white;
}

p {
    font-size: 1rem;
}

.generalInfo, .experience, .education, .extraInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.infoCont input {
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    margin-bottom: 4vh;
    text-align: center;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5vw;
    height: 20vh;
}

.headerCont {
    background-color:rgba(183, 183, 183, 0.341);
}

.bodyCont {
    background-color:rgba(112, 112, 112, 0.341);
}

.rightHead, .rightExp, .rightEd {
    margin-right: 3vw;
    text-align: right;
}

.leftHead, .leftExp, .leftEd {
    margin-left: 3vw;
    text-align: left;
}

.experienceDescText, .educationDescText, .extraInfoDescText {
    text-align: center;
    padding-top: 5vh;
}

.cvBuilder {
    width: 70vw;
    margin-top: 10vh;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

hr {
    margin-left: 1vw;
    margin-right: 1vw;
}

.experienceInfoCont, .educationInfoCont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5vw;
}

.extraInfoCont {
    text-align: center;
}
